 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/2cb786d24d57b25170d92d36053f1e8b3de81f3ee3600ba9e988b25aac8f05633d30ce53613b632a1f8ebc067d0c53a8b33fd83d65bf22477b7bc0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 132px;
}

.u-section-2 .u-text-1 {
  margin: 45px auto 35px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 32px;
    margin-right: 32px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 53px;
}

.u-section-3 .u-text-1 {
  margin: 1px auto;
}.u-section-4 .u-sheet-1 {
  min-height: 868px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 0 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-4 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 19px 30px;
}

.u-section-4 .u-image-2 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 21px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-4 .u-image-1 {
    height: 242px;
  }

  .u-section-4 .u-image-2 {
    height: 242px;
  }

  .u-section-4 .u-btn-2 {
    padding: 2px 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 710px;
  }

  .u-section-4 .u-image-1 {
    height: 390px;
  }

  .u-section-4 .u-image-2 {
    height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 307px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 189px;
  }

  .u-section-4 .u-image-2 {
    height: 189px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 82px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  margin: 0 110px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 623px;
}

.u-section-6 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-6 .u-text-2 {
  width: 746px;
  margin: 22px auto 0;
}

.u-section-6 .u-image-1 {
  width: 305px;
  height: 381px;
  margin: 34px auto 0 103px;
}

.u-section-6 .u-image-2 {
  width: 173px;
  height: 382px;
  margin: -381px 197px 0 auto;
}

.u-section-6 .u-icon-1 {
  width: 149px;
  height: 149px;
  margin: -291px auto 60px;
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 35px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 167px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 520px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 520px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-7 .u-text-1 {
  margin: 95px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 520px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 60px 30px;
}

.u-section-7 .u-image-1 {
  height: 342px;
  margin-top: 78px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 318px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 429px;
  }

  .u-section-7 .u-image-1 {
    height: 266px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 66px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 395px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-7 .u-image-1 {
    height: 243px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 56px;
}

.u-section-8 .u-text-1 {
  width: 574px;
  margin: 9px auto 8px;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 876px;
}

.u-section-9 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 50px auto;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 459px;
}

.u-section-9 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-9 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 8px 20px 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: -64px 0 0 115px;
}

.u-section-9 .u-text-2 {
  padding-left: 0;
  margin: 0 0 0 115px;
}

.u-section-9 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-9 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 8px 20px 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: -64px 0 0 115px;
}

.u-section-9 .u-text-4 {
  padding-left: 0;
  margin: 0 0 0 115px;
}

.u-section-9 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-9 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 8px 20px 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  margin: -64px 0 0 115px;
}

.u-section-9 .u-text-6 {
  padding-left: 0;
  margin: 0 0 0 115px;
}

@media (max-width: 767px) {
  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 73px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 73px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
  }
} .u-section-10 {
  min-height: 318px;
}

.u-section-10 .u-sheet-1 {
  min-height: 482px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 482px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 49px;
}

.u-section-10 .u-text-1 {
  margin: 29px auto 0 93px;
}

.u-section-10 .u-text-2 {
  margin: 11px 17px 0 6px;
}

.u-section-10 .u-text-3 {
  margin: 5px 6px 0;
}

.u-section-10 .u-text-4 {
  margin: 17px auto 0 5px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 482px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 8px 0;
}

.u-section-10 .u-image-1 {
  width: 550px;
  height: 379px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 397px;
    background-position: 50% 50%;
  }

  .u-section-10 .u-image-1 {
    width: 455px;
    height: 313px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 66px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-10 .u-image-1 {
    width: 345px;
    height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 456px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-10 .u-image-1 {
    width: 325px;
    height: 223px;
  }
} .u-section-11 {
  min-height: 66px;
}

.u-section-11 .u-sheet-1 {
  min-height: 655px;
}

.u-section-11 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-image-1 {
  width: 573px;
  left: -2px;
  right: auto;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-11 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-11 .u-text-1 {
  margin: 150px 105px 0;
}

.u-section-11 .u-text-2 {
  margin: 12px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 318px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 540px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 66px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 621px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 391px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 777px;
}

.u-section-12 .u-layout-wrap-1 {
  margin: 44px auto 44px 0;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 700px;
}

.u-section-12 .u-container-layout-1 {
  padding: 0;
}

.u-section-12 .u-image-1 {
  width: 585px;
  height: 737px;
  margin: 0 auto -47px -20px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 340px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-12 .u-text-1 {
  margin: 0 -16px 0 18px;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 287px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-12 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-12 .u-layout-cell-4 {
  min-height: 360px;
}

.u-section-12 .u-container-layout-4 {
  padding: 30px 14px;
}

.u-section-12 .u-text-4 {
  font-weight: 700;
  margin: 0 16px;
}

.u-section-12 .u-text-5 {
  margin: 20px 16px 0;
}

.u-section-12 .u-layout-cell-5 {
  min-height: 360px;
}

.u-section-12 .u-container-layout-5 {
  padding: 30px;
}

.u-section-12 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-12 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 577px;
  }

  .u-section-12 .u-image-1 {
    width: 465px;
    height: 586px;
    margin-left: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 297px;
  }

  .u-section-12 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-5 {
    min-height: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 884px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 428px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 177px;
}

.u-section-13 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}