 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/pexels-matej-776336.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 200px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 609px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 549px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-text-1 {
  text-align: left;
  font-size: 3rem;
  margin: 0 99px 0 1px;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: normal;
  margin: 30px 1px 0;
}

.u-section-2 .u-btn-1 {
  margin: 30px auto 0 1px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 549px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 413px;
  height: 413px;
  margin: 76px 69px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 453px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 69px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 17px auto 0;
}.u-section-4 .u-sheet-1 {
  min-height: 979px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-4 .u-image-1 {
  min-height: 397px;
  background-image: url("images/PH_Subcomponents.png");
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 368px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 91px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -42px 85px 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 22px auto 2px 30px;
  padding: 7px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 534px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  margin: 131px 0 0;
}

.u-section-4 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -43px auto 0 167px;
  padding: 10px;
}

.u-section-4 .u-text-4 {
  margin: 15px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-4 .u-image-2 {
  min-height: 534px;
  background-image: url("images/Geistkampfer_Good2.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 17px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-4 .u-image-1 {
    min-height: 794px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: -176px;
  }

  .u-section-4 .u-image-2 {
    min-height: 1068px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 812px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 0;
}

.u-section-5 .u-image-1 {
  min-height: 405px;
  background-image: url("images/Myproject101.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 79px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -41px 111px 0 auto;
  padding: 10px;
}

.u-section-5 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 22px auto 0 30px;
  padding: 7px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 417px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  margin: 82px 0 0;
}

.u-section-5 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -63px 46px 0 auto;
  padding: 10px;
}

.u-section-5 .u-text-4 {
  margin: 35px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 7px 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 417px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 471px;
  height: 386px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-5 .u-layout-cell-4 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    width: 45px;
    height: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 22px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-5 .u-image-1 {
    min-height: 810px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 834px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1763px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 71px auto 0;
}

.u-section-6 .u-list-1 {
  width: 850px;
  margin: 32px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 476px;
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px 650px 0 0;
}

.u-section-6 .u-text-3 {
  margin: -58px 197px 0 233px;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-style: italic;
  margin: -204px 0 0 694px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  margin: -27px 650px 63px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px 650px 0 0;
}

.u-section-6 .u-text-7 {
  margin: -58px 197px 0 233px;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-style: italic;
  margin: -254px 0 0 694px;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  margin: -27px 650px 57px 0;
}

.u-section-6 .u-text-10 {
  font-size: 3rem;
  margin: 66px auto 0;
}

.u-section-6 .u-list-2 {
  width: 850px;
  margin: 32px auto 0;
}

.u-section-6 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 777px;
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-3 {
  padding: 24px 0;
}

.u-section-6 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px 650px 0 0;
}

.u-section-6 .u-text-12 {
  margin: -30px 197px 0 233px;
}

.u-section-6 .u-text-13 {
  font-size: 1.5rem;
  font-style: italic;
  margin: -204px 0 0 694px;
}

.u-section-6 .u-text-14 {
  font-size: 1.5rem;
  margin: -55px 650px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 24px 0;
}

.u-section-6 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 11px 650px 0 0;
}

.u-section-6 .u-text-16 {
  margin: -30px 197px 0 233px;
}

.u-section-6 .u-text-17 {
  font-size: 1.5rem;
  font-style: italic;
  margin: -254px 0 0 694px;
}

.u-section-6 .u-text-18 {
  font-size: 1.5rem;
  margin: -55px 650px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-3 {
    margin-top: -19px;
    margin-right: 196px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 693px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -96px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 196px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 693px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 196px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 693px;
  }

  .u-section-6 .u-text-16 {
    margin-right: 196px;
  }

  .u-section-6 .u-text-17 {
    margin-left: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -214px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 83px;
    margin-right: 131px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 33px;
    margin-left: 563px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -69px;
    margin-right: 520px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -14px;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 15px;
    margin-right: 131px;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: -124px;
    margin-left: 563px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 520px;
  }

  .u-section-6 .u-list-2 {
    width: 720px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 520px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 131px;
    margin-left: 168px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 563px;
  }

  .u-section-6 .u-text-14 {
    margin-right: 520px;
  }

  .u-section-6 .u-text-15 {
    margin-right: 520px;
  }

  .u-section-6 .u-text-16 {
    margin-right: 131px;
    margin-left: 168px;
  }

  .u-section-6 .u-text-17 {
    margin-left: 563px;
  }

  .u-section-6 .u-text-18 {
    margin-right: 520px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -229px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 73px;
    margin-right: 41px;
    margin-left: 78px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 383px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 340px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 1px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -10px;
    margin-right: 41px;
    margin-left: 78px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 383px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 340px;
  }

  .u-section-6 .u-list-2 {
    width: 540px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 340px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 41px;
    margin-left: 78px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 383px;
  }

  .u-section-6 .u-text-14 {
    margin-right: 340px;
  }

  .u-section-6 .u-text-15 {
    margin-right: 340px;
  }

  .u-section-6 .u-text-16 {
    margin-right: 41px;
    margin-left: 78px;
  }

  .u-section-6 .u-text-17 {
    margin-left: 383px;
  }

  .u-section-6 .u-text-18 {
    margin-right: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.625rem;
    margin-top: -372px;
    margin-right: 140px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 141px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 183px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 140px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.625rem;
    margin-top: 51px;
    margin-right: 140px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -94px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: -90px;
    margin-left: 183px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 140px;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-list-2 {
    width: 340px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 140px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-13 {
    margin-left: 183px;
  }

  .u-section-6 .u-text-14 {
    margin-right: 140px;
  }

  .u-section-6 .u-text-15 {
    margin-right: 140px;
  }

  .u-section-6 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-17 {
    margin-left: 183px;
  }

  .u-section-6 .u-text-18 {
    margin-right: 140px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 356px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 236px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-7 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 252px;
  min-width: 124px;
  margin: 0 auto;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 320px;
    min-width: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-7 .u-social-icons-1 {
    height: 44px;
    width: 298px;
  }
}